<div class="divContainer">

  <ul class="ulClass" >

    <li *ngFor="let jahr of jahre"  >
      <p [ngClass]="{'activeItem' : jahr === selectedItem}" (click)="handleJahrClick(jahr)" class="liClass" >{{jahr}}</p>
      <ul class="ulClass" *ngIf="jahr === selectedJahr">
        <li *ngFor="let monat of jahrMonatMap.get(jahr)"  class="liClass">
          <p (click)="handleMonatClick(monat)"  [ngClass]="{'activeItem' : monat === selectedItem}">{{monat}}</p>
        </li>

      </ul>

    </li>
  </ul>
</div>
