<div *ngIf="isLoading <= maxSubscriptions">
  Still loading....
</div>


<div *ngIf="isLoading >= maxSubscriptions">
  <h2 align="center">Neuen Bon anlegen</h2>
  <div class="row justify-content-center">
    <div class="col">
      <div>Datum: <input type="date" max="{{dateToday}}" (change)="changeDate($event)"></div>
    </div>
    <div class="col">
      Geschäft:
      <select [(ngModel)]="selectedGeschaeft" style="width: 200px">
        <option *ngFor="let gesch of geschaefte" [ngValue]="gesch">{{gesch.ort}} | {{gesch.name}}</option>
      </select>
    </div>
  </div>

  <div style="display:flex; justify-content: center">
    <label *ngIf="!selectedDate">Noch kein Datum</label>
    <label *ngIf="!selectedDate && !selectedGeschaeft">&nbsp;und&nbsp;</label>
    <label *ngIf="!selectedGeschaeft">Noch kein Geschäft</label>
    <label *ngIf="!selectedGeschaeft || !selectedDate">&nbsp;ausgewählt!</label>
  </div>


  <div *ngIf="selectedDate && selectedGeschaeft" align="center">
    <div class="row">

      <div class="col">
        <label>Artikel:</label>
        <input [(ngModel)]="selectedArtikelName"
               [typeahead]="artikel"
               [typeaheadScrollable]="true"
               typeaheadOptionField="name"
               [typeaheadOptionsInScrollableView]="5"
               (typeaheadOnSelect)="onArtikelSelect($event)"
               class="form-control customArtikelInput">
      </div>

      <div class="col">
        <div class="row justify-content-center">
          <label>Menge:</label>
        </div>
        <div class="row">
          <input type="number" min="1" max="9999" value="1" [(ngModel)]="selectedMenge" class="numberInput">
        </div>
      </div>

      <div class="col">
        <div class="row justify-content-center">
          <label>€ / Stck.</label>
        </div>
        <div class="row">

          <input type="number" step="0.01" max="9999" value="0.01" [(ngModel)]="selectedPreis" class="numberInput">
        </div>
      </div>

      <div class="col">
        <button (click)="createPosten()" class="button" style="bottom: 0; padding: 5px !important; height: 75%">Hinzufügen</button>
      </div>

    </div>

    <div>
      <table>
        <colgroup>
          <col span="1" style="max-width: 50%; min-width: 200px">
          <col span="1" style="max-width: 20%; min-width: 100px">
          <col span="1" style="max-width: 20%; min-width: 100px">
          <col span="1" style="max-width: 10%; min-width: 100px;">
        </colgroup>
        <tr>
          <th>Artikel</th>
          <th style="text-align: center">Menge</th>
          <th style="text-align: center">Preis</th>
          <th style="text-align: center">Entfernen</th>
        </tr>

        <tr *ngFor="let post of posten">
          <td>{{post.artikel.name}}</td>
          <td style="text-align: center">{{post.menge}}</td>
          <td style="text-align: center">{{post.preis}}</td>
          <td style="text-align: center">
            <button style="color:red" (click)="removePosten(post)">X</button>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <h4>Gesamt: {{currentGesamt | number:'.2-2'}}€</h4>
      <button *ngIf="posten.length > 0" (click)="saveBon()" class="button">
        Speichern
      </button>
    </div>
  </div>
</div>
