<div class="headerParent">
  <div >
    <h1  [routerLink]="['/', 'home']" style="cursor: pointer;outline: none;">HaWiBu - Online</h1>

  </div>

  <div >
    <div class="headerLeft">
      <h3 [routerLink]="['/', 'home']" style="cursor: pointer;outline: none;margin-bottom: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap ">Das Online-Haushalts(Wirtschafts)Buch</h3>
    </div>
    <div class="headerRight">
      <button class="button" style="margin-bottom: 0;" (click)="openBonErstellen()">Bon erstellen</button>
    </div>

  </div>
</div>
